.easy-to-start {
  position: relative;
  letter-spacing: -0.96px;
  line-height: 64px;
}
.span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.easy-to-instal {
  position: relative;
  letter-spacing: -0.96px;
  line-height: 64px;
  background: linear-gradient(
    90deg,
    #18aba2 11.47%,
    #9a8d70 64.58%,
    #d1937e 85.26%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.divflex2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6.58px;
}
.you-can-start {
  position: relative;
  line-height: 36px;
  font-weight: 300;
}
.divflex3,
.divinline-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divflex3 {
  opacity: 0.6;
  font-size: var(--font-size-5xl);
}
.divinline-flex {
  width: 694.28px;
  height: 152px;
  padding: var(--padding-0) 47.24034118652344px var(--padding-0)
    48.45533752441406px;
  box-sizing: border-box;
  gap: var(--gap-base);
  z-index: 0;
}
.donutsvg-icon {
  position: relative;
  width: 129.57px;
  height: 254px;
  overflow: hidden;
  flex-shrink: 0;
}
.donutsvg {
  margin: 0 !important;
  position: absolute;
  height: 167.11%;
  top: -23%;
  right: -27px;
  bottom: -44.11%;
  width: 183px;
  align-items: center;
  padding: var(--padding-0) 26.7171688079834px var(--padding-0)
    26.717172622680664px;
  box-sizing: border-box;
  max-width: 1920px;
  z-index: 1;
}
.divrelative2,
.donutsvg,
.frame16 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divrelative2 {
  width: 1920px;
  align-items: center;
  padding: var(--padding-0) 612.8599853515625px;
  box-sizing: border-box;
  position: relative;
}
.frame16 {
  position: absolute;
  top: 2923.44px;
  left: 0;
  width: 1973.56px;
  overflow: hidden;
  align-items: flex-end;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-lexend);
}
